.u-section-1 {
  background-image: url("images/8948baa6-562b-8e81-1d1c-9b3101f56133.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 788px;
}

.u-section-1 .u-group-1 {
  width: 855px;
  min-height: 448px;
  margin: 170px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 16px;
}

.u-section-1 .u-text-1 {
  margin: 35px 315px 0 20px;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 15px 175px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 113px;
    margin-right: 127px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
    margin-right: 296px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 199px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 227px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 149px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 170px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 11px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 68px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-top: 20px;
    margin-right: 107px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 388px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -107px auto 19px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 647px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 58px 20px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 600;
  margin: 20px 20px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 647px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 58px 20px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 600;
  margin: 20px 20px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 647px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 58px 20px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 600;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 427px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 764px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 646px;
  margin: 120px 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 589px;
}

.u-section-3 .u-image-1 {
  width: 529px;
  height: 396px;
  margin: 100px 22px 0 auto;
}

.u-section-3 .u-group-1 {
  width: 598px;
  min-height: 690px;
  height: auto;
  margin: -652px auto 37px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 300;
  margin: 49px 20px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 600;
  margin: 95px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    width: 510px;
    height: 275px;
    margin-top: 4px;
    margin-bottom: -22px;
  }

  .u-section-3 .u-group-1 {
    width: 642px;
    margin-top: -695px;
    margin-bottom: 60px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-3 .u-image-1 {
    width: 400px;
    margin-top: 44px;
    margin-bottom: 50px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1381px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 293px;
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 839px;
  }

  .u-section-3 .u-image-1 {
    width: 590px;
    margin-right: 11px;
  }

  .u-section-3 .u-group-1 {
    width: 542px;
    min-height: 238px;
    margin-top: -1306px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1419px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 336px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-3 .u-image-1 {
    width: 390px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 288px;
    margin-top: -1349px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1356px;
}

.u-section-4 .u-group-1 {
  width: 700px;
  min-height: 202px;
  margin: 57px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: 10px 20px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 600;
  margin: 28px 20px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 1067px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 29px 20px 0;
}

.u-section-4 .u-text-4 {
  font-weight: 600;
  margin: 20px 20px 0;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 1067px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 29px 37px 0;
}

.u-section-4 .u-text-6 {
  font-weight: 600;
  margin: 62px 20px 0;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 1067px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 287px;
  margin: 29px auto 0;
}

.u-section-4 .u-text-8 {
  font-weight: 600;
  margin: 83px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-group-1 {
    width: 577px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 880px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    width: 124px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 3px;
    margin-right: 4px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 880px;
  }

  .u-section-4 .u-text-5 {
    position: relative;
    width: 124px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 880px;
  }

  .u-section-4 .u-text-7 {
    position: relative;
    width: 124px;
  }

  .u-section-4 .u-text-8 {
    width: 157px;
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 442px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    width: 139px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-5 {
    width: 134px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-text-7 {
    width: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 414px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    width: 135px;
  }

  .u-section-4 .u-text-5 {
    width: 144px;
  }

  .u-section-4 .u-text-7 {
    width: 112px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    width: 138px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    width: 136px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    width: 125px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 57px auto 57px 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/dbe12388-5b62-8607-338a-b26a28eb1724.jpeg");
  min-height: 437px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 437px;
}

.u-section-5 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  font-weight: 600;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1187px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 1165px;
  background-image: none;
}

.u-section-6 .u-image-1 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 53px 20px 0;
}

.u-section-6 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 35px 20px -1px;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 1133px;
}

.u-section-6 .u-image-2 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 29px 20px 0;
}

.u-section-6 .u-text-4 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 1133px;
}

.u-section-6 .u-image-3 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 33px 20px 0;
}

.u-section-6 .u-text-6 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 34px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1484px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-6 .u-image-1 {
    height: 251px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 1156px;
  }

  .u-section-6 .u-image-2 {
    height: 263px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-top: 211px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-top: 98px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 490px;
  }

  .u-section-6 .u-image-3 {
    height: 267px;
  }

  .u-section-6 .u-text-5 {
    position: relative;
    margin-top: 52px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    position: relative;
    margin-top: 165px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1151px;
  }

  .u-section-6 .u-image-1 {
    height: 192px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 1295px;
  }

  .u-section-6 .u-image-2 {
    height: 201px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 74px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 235px;
  }

  .u-section-6 .u-image-3 {
    height: 205px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 74px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 143px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1251px;
  }

  .u-section-6 .u-image-1 {
    height: 432px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 852px;
  }

  .u-section-6 .u-image-2 {
    height: 452px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 279px;
  }

  .u-section-6 .u-image-3 {
    height: 461px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 30px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 187px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-6 .u-image-1 {
    height: 272px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 735px;
  }

  .u-section-6 .u-image-2 {
    height: 285px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 211px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 98px;
  }

  .u-section-6 .u-image-3 {
    height: 290px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 52px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 165px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 345px;
}

.u-section-7 .u-group-1 {
  width: 1120px;
  min-height: 254px;
  height: auto;
  margin: 41px 0 50px auto;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  margin: 20px 20px 0;
}

.u-section-7 .u-text-2 {
  font-weight: 300;
  margin: 20px 11px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-7 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-7 .u-group-1 {
    width: 360px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1540px;
  }

  .u-section-7 .u-group-1 {
    width: 439px;
    min-height: 174px;
    margin-top: 37px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1565px;
  }

  .u-section-7 .u-group-1 {
    min-height: 199px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}
